<header id="header" class="header">
    <div class="container header__stripe">
        {% include "../components/logo.twig" %}

        {% include "../components/hamburger.twig" %}
        <div class="header__menu header__menu--logged">
            {# I had no other choice but to make two menus, because of vastly different structure #}
            <div class="mobile-only">
                <ul class="list--with-icons list--with-border reward">
                    <li>
                        <a href="{{ user.rewardsLink }}">
                            {% include "../../build/svg/wallet.svg" %}
                            Moje odměna: <strong class="highlight">{{ user.rewards.to_pay is defined ? user.rewards.to_pay : 0 }}</strong>
                        </a>
                    </li>
                </ul>
                <div class="user">
                    <ul class="list--with-icons">
                        <li class="opener" data-target="my_account">
                            {% include "../../build/svg/user.svg" %}
                            Můj účet
                            {% include "../../build/svg/arrow_down.svg" %}
                        </li>
                    </ul>
                    <ul id="my_account" class="opener__target list--with-icons list--with-border">
                        {% for item in menu.user %}
                            <li>
                                {% include "../components/item.twig" with item %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="list--with-icons list--with-border">
                    {% for item in menu.secondary %}
                        <li>
                            {% include "../components/item.twig" with item %}
                        </li>
                    {% endfor %}
                </ul>
                {% include "../components/search.twig" %}
            </div>

            <div class="desktop-only header__menu__desktop">
                <ul class="secondary">
                    {% for item in menu.secondary %}
                        <li>
                            {% if item.submenu %}
                                <span class="opener"
                                      data-target="submenu_{{ item.label }}">{% include "../components/item.twig" with item %}</span>
                                <div class="submenu opener__target" id="submenu_{{ item.label }}">
                                    <ul class="container">
                                        {% for subitem in item.submenu %}
                                            <li>
                                                {% include "../components/item.twig" with subitem %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                {% include "../components/item.twig" with item %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul>
                    <li>
                        {% include "../components/search.twig" with {id: 'search-input-desktop'} only %}
                    </li>
                    <li class="item--with-icon reward">
                        <a href="{{ user.rewardsLink }}">
                            {% include "../../build/svg/wallet.svg" %}
                            Moje odměna: <strong class="highlight">{{ user.rewards.to_pay is defined ? user.rewards.to_pay : 0 }}</strong>
                        </a>
                    </li>
                    <li class="user-menu">
                            <span class="opener" data-target="my_account_desktop">
                                {% include "../../build/svg/user.svg" %}
                                <span class="arrow">{% include "../../build/svg/arrow_down.svg" %}</span>
                            </span>
                        <ul id="my_account_desktop" class="opener__target list--with-icons">
                            {% for item in menu.user %}
                                <li>
                                    {% include "../components/item.twig" with item %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>