<div class="input{{ error ? ' input--error'}}{{ validation is defined ? ' form__element--validate' }}"{{ validation.type is defined ? " data-validation=\"" ~ validation.type ~"\"" }}{{ validation.params is defined ? " data-validation-params='" ~ validation.params|json_encode() ~"'" }}>
    {% for item in items %}
        <div class="input__radio">
            <input id="{{ item.id }}" type="radio" name="{{ name }}"{{ item.checked ? " checked" }}>
            <label for="{{ item.id }}">{{ item.label }}</label>
        </div>
    {% endfor %}
    {% if validation.message is defined %}
        <span style="display: none" class="input__error">{{ validation.message }}</span>
    {% endif %}
    {% if error %}
        <span class="input__error">{{ error }}</span>
    {% endif %}
</div>
