{% if url %}
    <a class="button{{ outline ? " button--outline" }}{{ white ? " button--white" }}{{ class ? " " ~ class }}" href="{{ url }}">
        {% if icon %}
            {% include "../../../build/svg/" ~ icon ~ ".svg" %}
        {% endif %}
        {{ label }}
    </a>
{% else %}
    <button class="button{{ outline ? " button--outline" }}{{ white ? " button--white" }}{{ class ? " " ~ class }}" type="{{ type is defined ? type : "button" }}">
        {% if icon %}
            {% include "../../../build/svg/" ~ icon ~ ".svg" %}
        {% endif %}
        {{ label }}
    </button>
{% endif %}