{% extends "layouts/default.twig" %}

{% block content %}

    <div class="container inner--margin">
        {% if breadcrumbs is defined %}
            {% include "components/breadcrumbs.twig" with {breadcrumbs: breadcrumbs} only %}
        {% endif %}
        {% include "components/shop-detail/claim.twig" with {claim: shop} only %}
    </div>
    <div class="container inner--margin">
        <h3>Slevy a slevové kupóny na {{shop.title}}</h3>
        <div class="grid">
            {% for discount in discounts %}
                {% include "components/discount.twig" with {discount: discount} only %}
            {% endfor %}
        </div>
        <p class="tac">
            {% include "components/buttons/button.twig" with {url: '#', label: 'Další slevy', outline: true} only %}
        </p>
    </div>
    <div class="wrapper--gray pt pb">
        <div class="container inner--margin">
            <h3>Cashback nabídky</h3>
            {% include "components/cashbacks.twig" with {cashbacks: cashbacks} only %}
        </div>
        <hr/>
        <div class="container inner--margin">
            <h3>Podobné obchody</h3>
            <ul class="list--stripe list--stripe--inner">
                {% for shop in related_shops %}
                    <li>
                        {% include "components/shop-tile.twig" with {tile: shop} only %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr/>
        <div class="container inner--margin">
            <h3>O obchodu</h3>
            <div class="white-board shop-info">
                {% for item in shop_intro %}
                    {% set id = "shop_intro_" ~ loop.index %}
                    <div class="shop-info__item">
                        <h5 class="opener" data-target="{{ id }}">
                            {{ item.title }}
                            <div class="arrow">
                                {% include "../build/svg/arrow_down.svg" %}
                            </div>
                        </h5>
                        <div class="opener__target" id="{{ id }}">
                            {{ item.text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}