{% extends "layouts/default.twig" %}

{% block content %}

    <div class="wrapper--gray hit-top user">
        <div class="container pr inner--margin">
            <div class="user__menu">
                <header class="user__menu__header">
                    <div class="user__menu__header__info">
                        <strong>{{ user.name }}</strong>
                        <figure>
                            {% if user.image is defined and user.image %}
                                <img src="{{ user.image }}" alt="{{ user.name }}"/>
                            {% else %}
                                {% include "../build/svg/user-anonymous.svg" %}
                            {% endif %}
                        </figure>
                    </div>
                    {% if user.rewards.total_gain %}
                        <p><strong class="highlight">{{ user.rewards.total_gain }}</strong> Celkem získáno</p>
                    {% endif %}
                </header>
                <ul class="user__menu__main">
                    {% for item in user.menu %}
                        <li class="{{ item.active ? 'user__menu__main__item--active' }}">
                            {% include "components/item.twig" with item %}
                        </li>
                    {% endfor %}
                </ul>
                {% if user.profile_completion is defined and user.profile_completion %}
                    {% set filledItems = 0 %}
                    {% for item in user.profile_completion %}
                        {% if item.done %}
                            {% set filledItems = filledItems + 1 %}
                        {% endif %}
                    {% endfor %}
                    <div class="user__menu__profile-completion">
                        <header>
                            <strong>Váš profil je vyplněn z</strong>
                            {% include "components/progress-ring.twig" with {percents: (filledItems / user.profile_completion|length * 100)|round} only %}
                        </header>
                        <ul>
                            {% for item in user.profile_completion %}
                                <li>
                                    {% include "components/item.twig" with {url: item.url, label: item.label, icon: item.done ? 'circle-check' : 'circle', inactive: not item.done} only %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="container inner--narrow user__container">
            <h2>Odměny a výhody</h2>
            {% include "components/rewards.twig" with {rewards: user.rewards} only %}
        </div>
        <hr/>
        <div class="container inner--margin user__container">
            <div class="grid--stripe">
                {% include "components/heading-with-tabs.twig" with {title: 'Přehled odměn', hLevel: 3, items: [
                    {label: 'Všechny odměny', active: true, targetId: 'tab_all_rewards'},
                    {label: 'Čekající odměny', targetId: 'tab_waiting_rewards'},
                    {label: 'Potvrzené odměny', targetId: 'tab_confirmed_rewards'},
                ]} only %}
            </div>
            <div id="tab_all_rewards" class="tabs__target">
                <div class="list--stripe list--stripe--inner">
                    {% include "components/rewards-list.twig" with {rewards: user.rewards.overview.all} only %}
                </div>
            </div>
            <div id="tab_waiting_rewards" class="tabs__target">
                <div class="list--stripe list--stripe--inner">
                    {% include "components/rewards-list.twig" with {rewards: user.rewards.overview.waiting} only %}
                </div>
            </div>
            <div id="tab_confirmed_rewards" class="tabs__target">
                <div class="list--stripe list--stripe--inner">
                    {% include "components/rewards-list.twig" with {rewards: user.rewards.overview.confirmed} only %}
                </div>
            </div>
        </div>
        <hr/>
        <div class="container inner--margin user__container">
            <h3>Sdílejte nás na sociálních sítích a vydělejte více</h3>
            <p>Pokud přijde na Tipli.cz uživatel přes váš status na sociálních sítích, získáte od nás odměnu za doporučení ve výši 150 Kč. Tu vám připíšeme na váš účet jako bonusové peníze.</p>
            <p class="buttons">
                {% include "components/buttons/button.twig" with {url: '#', label: 'Sdílet na Facebooku', icon: 'facebook', class: 'button--fb'} only %}
                {% include "components/buttons/button.twig" with {url: '#', label: 'Sdílet na Twitteru', icon: 'twitter', class: 'button--twitter'} only %}
            </p>
        </div>
        <span class="clear"></span>
    </div>

{% endblock %}