<a href="{{ discount.url }}" class="discount{{ discount.logo is defined ? '' : ' discount--no-logo' }}">
    {% if discount.img %}
        <div class="discount__img" style="background-image: url({{ discount.img }})"></div>
    {% endif %}
    <div class="discount__header">
        {% if discount.logo is defined %}
            <div class="discount__logo"><img src="{{ discount.logo }}" alt="{{ discount.title }}"></div>
        {% endif %}
        <div class="discount__amount">-<span>{{ discount.amount }}</span>%</div>
    </div>
    <div class="discount__content">
        <strong class="discount__title">{{ discount.title }}</strong>
        <ul class="list--with-icons">
            <li>
                {% include "../../build/svg/wallet.svg" %}
                {{ discount.bonus }}
            </li>
            <li>
                {% include "../../build/svg/time.svg" %}
                {{ discount.until }}
            </li>
        </ul>
        {% include "buttons/button.twig" with {label: 'Získat slevu ' ~ discount.amount ~ '%'} %}
    </div>
</a>