<a href="{{ tile.url }}" class="shop-tile">
    <figure class="shop-tile__logo">
        <img src="{{ tile.logo }}" alt="{{ tile.title }}">
    </figure>
    <div class="shop-tile__content">
        <h5>{{ tile.title }}</h5>
        <p><strong class="highlight">{{ tile.discount }} %</strong> zpět z nákupu</p>
    </div>
</a>