<div class="claim">
    <div class="claim__favorite{{ claim.favorite ? ' claim__favorite--is-favorite' }}" id="claim_favorite_click">
        <div class="claim__favorite--active">
            {% include "../../../build/svg/hearth.svg" %}
            {% include "../../../build/svg/checkmark.svg" %}
        </div>
        <div class="claim__favorite--inctive">
            {% include "../../../build/svg/hearth_outline.svg" %}
        </div>
    </div>
    <div class="claim__content claim__top">
        <img src="{{ claim.logo }}" alt="{{ claim.title }}"/>
        <div class="claim__top__info">
            <h2>{{ claim.title }}</h2>
            {% include "../buttons/button.twig" with {url: claim.url, label: 'Nakoupit zde'} only %}
        </div>
    </div>
    <div class="claim__content claim__bottom">
        <div class="claim__bottom__info">
            <p><strong class="highlight">{{ claim.range }} %</strong> z každého nákupu</p>
            {% include "../rating/rating.twig" with {rating: claim.rating} only %}
        </div>
        <ul class="claim__bottom__links">
            {% for item in claim.links %}
                <li><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>